.footer__link {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.footer__link-item:first-of-type {
    background-image: url(../../../images/inst.svg);

    background-position: center;
    background-size: cover;
}

.footer__link-item:nth-of-type(2) {
    background-image: url(../../../images/fb.svg);

    background-position: center;
    background-size: cover;
}

.footer__link-item:nth-of-type(3) {
    background-image: url(../../../images/in.svg);

    background-position: center;
    background-size: cover;
}